h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: "playfair display";
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: "poppins";
  line-height: 36px;
  color: #272142;
}

img {
  width: 500px;
  border-radius:15px;
  margin: 0 auto;
}

.introduction-text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-family: "poppins";
  line-height: 27px;
}
p {
  font-size: 16px;
  font-family: "poppins";
}

.btn-style {
  background: #6c63ff;
  color: white;
  border-radius: 4px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}

.btn-content {
  background: white;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  padding: 18px 30px;
}

.hero {
  text-align: center;
  padding: 120px 0;
  background-color: #f9f7fe;
}

.content-heading {
  font-size: 64px;
  font-family: "playfair display";
  line-height: 85px;
}

.content-text {
  margin: 20px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 700;
}

.set-margin {
  margin-top: 160px;
}

@media (max-width:700px) {
  h1 {
    font-size: 50px;
  }
  .project-text {
    text-align: center;
  }
  img {
    size: 100px;
  }
}

