body {
  background-color: #faf8ec;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: "playfair display";
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: "poppins";
  line-height: 36px;
  color: #272142;
}

img {
  width: 500px;
  border-radius:15px;
  margin: 0 auto;
  box-shadow: 10px 10px 5px grey;
}

.introduction-text {
  text-align: center;
  font-size: 24px;
  font-weight:500;
  font-family: "poppins";
  line-height: 27px;
}
p {
  font-size: 16px;
  font-family: "poppins";
}

.btn-style {
  background: #6c63ff;
  color: white;
  border-radius: 4px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}

.btn-content {
  background: white;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  padding: 18px 30px;
}

.contact-content {
  text-align: center;
}

.contact-content h3 {
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 120px 0 60px 0;
  background-color: #f4f2f9;
}

.content-heading {
  font-size: 64px;
  font-family: "playfair display";
  line-height: 85px;
}

.content-text {
  margin: 20px;
}

.footer {
  display: flex;
  justify-content:space-evenly;
  font-size: 18px;
  font-weight: 700;
  
}

.logo {
  max-width: 150px;
  box-shadow: none;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
}

.set-margin {
  margin-top: 160px;
}

.navigation-links a {
margin: 30px;
  padding: 15px 15px;
justify-content: center;
}

@media (max-width:700px) {
  h1 {
    font-size: 50px;
  }
  .project-text {
    text-align: center;
  }
  .image {
  width:100%;
  align-content: center;
  }
}

